# Core
fastapi==0.109.2
uvicorn==0.27.1
python-multipart
python-dotenv
requests
slowapi
simplejson

pydantic>=2.0.0
pydantic-settings

# Database
SQLAlchemy
psycopg2-binary
peewee

# Science/Data
numpy
pandas
scipy
scikit-learn
yfinance
ta
textblob

# AI / Google
google-generativeai>=0.4.0
groq

# Tools
beautifulsoup4
apscheduler
cachetools
jinja2
fastapi-mail
pytz

# Testing
pytest
httpx
python-jose[cryptography]
passlib[bcrypt]
